<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
    <h1>Hello, User!</h1>
    <h2>If you would like to go to the next page, you should enter:</h2>
    <ol>
    <li><a href="/requirements">/requirements</a> - on this page you`ll see all libraries that used in this project,</li>
    <li><a href="/generate-users">/generate-users</a> - on this page you`ll see people`s names and their email`s,</li>
    <li><a href="/mean ">/mean </a>- on this page you`ll see the average heights and weights persons,</li>
    <li><a href="/space">/space</a> - on this page you`ll see how many peoples in space,</li>
    <li><a href="/names">/names</a> - on this page you`ll see quantity of unique artists in table,</li>
    <li><a href="/tracks">/tracks</a> - on this page you`ll see quantity of recordings,</li>
    <li><a href="/tracks/pop/">/tracks/</a> - on this page you should choice the genre after backslash and
        you`ll see how many recordings with this genre,</li>
    <li><a href="/tracks-sec">/tracks-sec</a> - on this page you`ll see the name of recordings and there duration,</li>
    <li><a href="/tracks-sec/statistics">/tracks-sec/statistics</a> - on this page you`ll see duration of all recordings
        and the average duration.</li>
    </ol>
</body>
</html>